.pertama{
    background-image: url(img/bg_header.png);
    background-size: cover;
    height: 500px;
    text-align: left;
    margin-top: -10px;
}

.kedua{
    background-image: url(img/縦書き文字.png);
    background-size: cover;
    height: 950px;
    text-align: left;
    margin-top: 0px;
}

.ketiga {
    /*background-image: url(img/orange.png);*/
    background-size: cover;
    height: 950px;
    text-align: left;
    margin-top: 0px;
}

.keempat{
    background-image: url(img/biru.PNG);
    background-size: cover;
    height: 950px;
    text-align: right;
    margin-top: 0px;
}

.kelima{
    background-image: url(img/orange2.PNG);
    background-size: cover;
    height: 950px;
    text-align: left;
    margin-top: 0px;
}
.keenam{
    background-image: url(img/img_recruit.png);
    background-size: cover;
    height: 400px;
    text-align: left;
    margin-top: 0px;
}